Pillow==5.4.1
RPi.GPIO==0.6.3
pyaudio==0.2.11
aftership==0.2
feedparser==5.2.1
kodi-json==1.0.0
googletrans==2.2.0
gTTS==2.0.0
pafy==0.5.4
psutil==5.4.5
urllib3==1.22
google-api-python-client==1.6.7
requests==2.18.4
python-vlc==3.0.102
sense_hat==2.2.0
Adafruit_GPIO==1.0.3
Adafruit_SSD1306==1.6.2
pyyaml==3.13
webcolors==1.8.1
flux_led==0.22
pyalsaaudio==0.8.4
forecastiopy==0.22
